<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <links th:include="partials/head :: head"></links>
</head>
<body>
<div th:replace="partials/navbar :: navbar"></div>

<div class="container">
    <form th:action="@{'/create'}" th:object="${post}" method="post">
<!-- file picker-->
        <input type="text" id="id" class="d-none" th:field="*{id}"/>
        <input type="text" name="userId" class="d-none" th:field="*{user.id}"/>
        <input type="text" name="date" class="d-none" th:field="*{date}"/>
        <label for="title"> Title: </label>
        <br>
        <input type="text" id="title" th:field="*{title}"/>
        <br>
        <label for="body"> Description: </label>
        <br>
        <textarea id="body" col="72" rows="4" th:field="*{description}"></textarea>
        <br>
        <table>
            <div class="card" th:each="diet : ${dietsList1}">
                <!-- We want to also loop through the ${diets} to see if any of those are already selected -->
                <!-- start the loop here -->
                <span th:switch="${post.diets.contains(diet)}">
                    <span th:case="${true}">
                        <input type="checkbox" name="diets" th:text="${diet.title}" th:value="${diet.id}"
                               checked="checked"/>
                    </span>
                    <span th:case="*">
                        <input type="checkbox" name="diets" th:text="${diet.title}" th:value="${diet.id}"/>
                    </span>
                    <br>
                </span>
            </div>
        </table>
        <button type="submit">Done!</button>
    </form>
</div>

<footer th:replace="partials/footer :: footer"></footer>
<scripts th:replace="partials/scripts :: scripts"/>
</body>
</html>