<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <links th:include="partials/head :: head"></links>
    <title>Single Post</title>
    <link rel="stylesheet" th:href="@{/css/showsinglepost.css}">
    <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
</head>
<body>
<div th:replace="partials/navbar :: navbar"></div>

<!--design goes here-->
<section>

    <!--       if it is the regular post:     show diets of the regular post -->

    <div th:switch="${post.recipe == null}">
        <div th:case="${true}">
            <div class="container site-section welcome">
                <h1 th:text="${post.title}"></h1>
                <p th:text="${post.description}"></p>

                <div th:each="diet:${post.diets}">
                    <div class="text-left"><span class="ml-1 small text-success"
                                                 th:text="${diet.title}"></span></div>
                </div>

                <p class="d-xl-flex justify-content-xl-end" th:text="${post.user.username}">user</p>
            </div>


            <div class="d-xl-flex justify-content-xl-center">
                <div th:switch="${post.recipe == null}">
                    <div th:case="${true}">
                        <div th:switch="${user_id !=0}">
                            <div th:case="${true}">
                                <div th:switch="${post.user.username.equals(user.username)}">
                                    <div th:case="${true}">
                                        <form th:action="@{'/posts/'+ ${post.id} +'/edit'}" method="get">
                                            <button class="btn btn-primary text-left" type="submit">Edit<i
                                                    class="fa fa-edit"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--        the recipe post -->
    <div th:switch="${post.recipe != null}">
        <div th:case="${true}">

            <form th:action="@{/posts/recipe/edit}" method="get">
                <div class="container site-section welcome">
                    <input type="hidden" name="postId" th:value="${post.id}">
                    <h1 th:text="${post.title}"></h1>
                    <p th:text="${post.recipe.notes}"></p>
                    <p th:text="${post.recipe.preparation}"></p>

                    <div th:each="diet:${post.recipe.diets}">
                        <div class="text-left"><span class="ml-1 small text-success"
                                                     th:text="${diet.title}"></span></div>
                    </div>

                    <div th:each="ingredient:${post.recipe.ingredients}">
                        <div class="text-left" id="ingredients"><span class="ml-1 small text-success"
                                                                      th:text="${ingredient.name}"></span></div>
                    </div>
                    <p class="d-xl-flex justify-content-xl-end" th:text="${post.user.username}">user</p>
                </div>
                <div class="d-xl-flex justify-content-xl-left">
                    <div th:switch="${user_id !=0}">
                        <div th:case="${true}">
                            <!--                                    if login check if the current user equals the user who create the recipe -->
                            <div th:switch="${post.user.username.equals(user.username)}">
                                <div th:case="${true}">

                                    <button class="btn btn-primary text-left" type="submit">Edit<i
                                            class="fa fa-edit"></i>
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div th:switch="${user_id !=0}">
        <div th:case="${true}">
            <div th:switch="${post.user.username.equals(user.username)}">
                <div th:case="${true}">
                    <form th:action="@{'/posts/delete/' + ${post.id}}" method="get">
                        <button class="btn btn-primary text-left" type="submit">Delete<i
                                class="fa fa-trash"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- Create a comment only if the user login-->

<div th:switch="${user_id !=0}">
    <div th:case="${true}">
        <div>
            <form th:action="@{'/posts/comment'}" th:object="${newComment}" method="post">
                <input type="hidden" th:value="${post.id}" name="postId">
                <p>Add Comment</p>
                <textarea id="body" name="body"></textarea>
                <button type="submit" value="submit" class="btn btn-primary"> Submit<i
                        class="fa fa-check"></i></button>
            </form>
        </div>
    </div>
</div>

<!--    post all comments-->
<div class="card" th:each="comment : ${allComments}">
<!--    <div class="card-body">-->
<!--        <div class="card-text"><h2 th:text="${comment.getUser().getUsername()}"></h2></div>-->
<!--        <div class="card-text"><p th:text="${comment.getBody()}"></p></div>-->


        <div class="card" id="commentGroup">
            <div class="card-header">
                <h3>Comment</h3>
            </div>
            <div class="card-body" th:each="comment : ${allComments}">
                <ul class="list-group">
                    <li class="list-group-item text-right" style="margin-bottom:6px;">
                        <div class="media">
                            <div></div>
                            <div class="media-body">
                                <div class="media" style="overflow:visible;">
                                    <div></div>
                                    <div class="media-body" style="overflow:visible;">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p class="text-left" th:text="${comment.getUser().getUsername()}"></p>
                                                <br>
                                                <p class="text-left" th:text="${comment.getBody()}"><br></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div th:switch="${user_id !=0}">
                            <div th:case="${true}">
                                <div th:switch="${comment.user.username.equals(user.username)}">
                                    <div th:case="${true}">
                                        <!--edit the comment-->
                                        <div class="d-flex">
                                            <form th:action="@{'/comments/edit'}" method="get">
                                                <input type="hidden" name="commentId" th:value="${comment.id}"/>
                                                <input type="hidden" name="postId" th:value="${post.id}"/>
                                                <button class="btn btn-primary" type="submit"><i class="fa fa-edit"></i>
                                                </button>
                                            </form>
                                        </div>
                                        <!--delete the comment-->
                                        <div class="d-flex">
                                            <form th:action="@{'/comments/delete'}" method="post">
                                                <input type="hidden" name="commentId" th:value="${comment.id}"/>
                                                <input type="hidden" name="postId" th:value="${post.id}"/>
                                                <button type="submit" class="btn btn-primary"><i
                                                        class="icon ion-android-delete"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
<scripts th:replace="partials/scripts :: scripts"/>
</body>
</html>