<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <links th:include="partials/head :: head"></links>
</head>
<body>
<div th:replace="partials/navbar :: navbar"></div>
<div class="container">
    <div class="card w-75">
        <div class="card-body">
            <div class="card-title" th:text="${post.title}"></div>
            <div class="card-text" th:text="${post.description}"></div>
            <div class="card-text" th:text="${post.getUser().getEmail()}"></div>
            <div class="d-flex">
                <form th:action="@{'/posts/'+ ${post.id} +'/edit'}" method="get">
                    <button type="submit" class="btn btn-primary mr-1">Edit</button>
                </form>
                <form th:action="@{'/posts/delete/' + ${post.id}}" method="get">
                    <button type="submit" class="btn btn-primary">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<footer th:replace="partials/footer :: footer"></footer>
<scripts th:replace="partials/scripts :: scripts"/>
</body>
</html>