<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>edit comment</title>
    <links th:include="partials/head :: head"></links>
    <link rel="stylesheet" th:href="@{/css/editComment.css}">
</head>
<body>
<div th:replace="partials/navbar :: navbar"></div>

<div class="container">
    <form th:action="@{/comments/edit}" th:object="${comment}" method="POST">
        <input type="hidden" name="commentId" th:field="*{id}"/>
        <input type="hidden" name="postId" th:field="*{post.id}"/>
        <input type="hidden" name="userId" th:field="*{user.id}"/>
        <div>
            <p class="text-center">Edit Comment</p>
            <textarea id="body" name="body" th:field="*{body}"></textarea>
            <button class="btn btn-primary" type="submit"><i
                    class="fa fa-check"></i></button>
        </div>
    </form>
</div>

<!--<div class="container">-->
<!--    <form th:action="@{/comments/edit}" th:object="${comment}" method="POST">-->
<!--        <input type="hidden" name="commentId" th:field="*{id}"/>-->
<!--        <input type="hidden" name="postId" th:field="*{post.id}"/>-->
<!--        <input type="hidden" name="userId" th:field="*{user.id}"/>-->
<!--        <label for="body">Comment Body</label>-->
<!--        <textarea id="body" name="body" th:field="*{body}"></textarea>-->
<!--        <br>-->
<!--        <button type="submit">Done!</button>-->
<!--    </form>-->
<!--</div>-->
<scripts th:replace="partials/scripts :: scripts"/>
</body>
</html>