<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <links th:include="partials/head :: head"></links>
</head>
<body>
<div th:replace="partials/navbar :: navbar"></div>
<div class="container">
    <form th:action="@{/comments/edit}" th:object="${comment}" method="POST">
        <input type="hidden" name="postId" th:field="*{post.id}"/>
        <input type="hidden" name="userId" th:field="*{user.id}"/>
        <label for="body">Comment Body</label>
        <textarea id="body" name="body" th:field="*{body}"></textarea>
        <br>
        <button type="submit">Done!</button>
    </form>
</div>
<footer th:replace="partials/footer :: footer"></footer>
<scripts th:replace="partials/scripts :: scripts"/>
</body>
</html>