<html lang="en" xmlns:th="http://www.thymeleaf.org">
<standard_links th:fragment="footer">

    <!-- Site footer -->
    <footer class="site-footer foot footdf">
        <div class="container d-flex">
            <div class="row justify-content-around">
<!--                Beginning of the first part footer, diets-->
                <div class="col-6 col-xs-6 col-md-3">
                    <h6>Diets</h6>
                            <ul class="footer-links row justify-content-between">
                                <li><a href="http://tryitdiet.com/diet/dairy-free">Dairy Free</a></li>
                                <li><a href="http://tryitdiet.com/diet/gluten-free/">Gluten-Free</a></li>
                                <li><a href="http://tryitdiet.com/diet/high-protein/">High Protein</a></li>
                                <li><a href="http://tryitdiet.com/diet/keto">Keto</a></li>
                                <li><a href="http://tryitdiet.com/diet/paleo">Paleo</a></li>
                                <li><a href="http://tryitdiet.com/diet/pescatarian">Pescatarian</a></li>
                                <li><a href="http://tryitdiet.com/diet/mediterranean">Mediterranean</a></li>
                                <li><a href="http://tryitdiet.com/diet/vegan">Vegan</a></li>
                                <li><a href="http://tryitdiet.com/diet/vegetarian">Vegetarian</a></li>
                            </ul>
                </div>
<!--second part of the footer The Quick Links Section-->
                <div class="col-6 col-xs-6 col-md-3">
                    <h6>Quick Links</h6>
                    <ul class="footer-links">
                        <li><a href="http://scanfcode.com/about/">About Us</a></li>
                        <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
                        <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
                        <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
                        <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by</p>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</standard_links>


