<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<standard_links th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand navfont navsiz" href="/">
                <span class="dair">T</span><span class="glut">r</span><span class="hp">y</span><span class="ket">i</span><span class="pal">t</span>
                <span class="pesc"> D</span><span class="medit">i</span><span class="vega">e</span><span class="vegit">t</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#"></a>

                    </li>
                    <!-- Beginning of the drop down menu-->
                    <li class="nav-item dropdown navsiz">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-expanded="false">
                            Diets
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/diets/dairy-free">Dairy Free</a></li>
                            <li><a class="dropdown-item" href="/diets/gluten-free">Gluten-Free</a></li>
                            <li><a class="dropdown-item" href="/diets/high-protein">High-Protein</a></li>
                            <li><a class="dropdown-item" href="/diets/keto">Keto</a></li>
                            <li><a class="dropdown-item" href="/diets/paleo">Paleo</a></li>
                            <li><a class="dropdown-item" href="/diets/pescatarian">Pescatarian</a></li>
                            <li><a class="dropdown-item" href="/diets/mediterranean">Mediterranean</a></li>
                            <li><a class="dropdown-item" href="/diets/vegan">Vegan</a></li>
                            <li><a class="dropdown-item" href="/diets/vegetarian">Vegetarian</a></li>
                            <li><a class="dropdown-item" href="/diets/other">Other</a></li>
                        </ul>
                    </li>

                    <li class="nav-item navsiz">
                        <a class="nav-link active" aria-current="page" href="/posts">Posts</a>
                    </li>

                    <!-- If the user is not logged in (anonymous to the site), display the login form and register button -->
                    <li sec:authorize="isAnonymous()" class="nav-item navsiz">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                    <li sec:authorize="isAnonymous()" class="nav-item navsiz">
                        <a class="nav-link" href="/login">Login</a>
                    </li>

                    <!-- If the user is already logged in / authenticated, display the logout button (form) -->
                    <li sec:authorize="isAuthenticated()" class="nav-item navsiz">
                        <form th:action="@{/logout}" th:method="post">
                            <button class="btn-link btn" style="margin-top: 8px">Logout</button>
                        </form>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>

            </div>

        </div>
    </nav>

</standard_links>