<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<standard_links th:fragment="sidebar">
    <!--<div class="icon-bar collapse" id="collapseExample" >
        <a class="activesb" href="#"><i class="fa fa-home"></i></a>
        <a class="dair" href="/diets/dairy-free"><i class="fas fa-ice-cream"></i></a>
        <a class="glut" href="/diets/gluten-free"><i class="fas fa-bread-slice"></i></a>
        <a class="hp" href="/diets/high-protein"><i class="fas fa-drumstick-bite"></i></a>
        <a class="ket" href="/diets/keto"><i class="fas fa-egg"></i></a>
        <a class="pal" href="/diets/paleo"><i class="fas fa-apple-alt"></i></a>
        <a class="pesc" href="/diets/pescatarian"><i class="fas fa-fish"></i></a>
        <a class="medit" href="/diets/mediterranean"><i class="fas fa-oil-can"></i></a>
        <a class="vega" href="/diets/vegan"><i class="fas fa-seedling"></i></a>
        <a class="vegit" href="/diets/vegetarian"><i class="fas fa-carrot"></i></a>
    </div>-->

<!--    alternate sidebar-->
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a class="activesb" href="#"><i class="fa fa-home"></i></a>
        <a class="dair" data-toggle="tooltip" data-placement="right" title="Dairy-Free" href="/diets/dairy-free"><i class="fas fa-ice-cream"></i></a>
        <a class="glut" href="/diets/gluten-free"><i class="fas fa-bread-slice"></i> Gluten-Free</a>
        <a class="hp" href="/diets/high-protein"><i class="fas fa-drumstick-bite"></i> High-Protein</a>
        <a class="ket" href="/diets/keto"><i class="fas fa-egg"></i> Keto</a>
        <a class="pal" href="/diets/paleo"><i class="fas fa-apple-alt"></i> Paleo</a>
        <a class="pesc" href="/diets/pescatarian"><i class="fas fa-fish"></i> Pescatarian</a>
        <a class="medit" href="/diets/mediterranean"><i class="fas fa-oil-can"></i> Mediterranean</a>
        <a class="vega" href="/diets/vegan"><i class="fas fa-seedling"></i> Vegan</a>
        <a class="vegit" href="/diets/vegetarian"><i class="fas fa-carrot"></i> Vegetarian</a>
        <a class="other" href="/diets/other"><i class="fas fa-utensils"></i> Other</a>
    </div>

    <div id="main">
        <button class="openbtn" onclick="openNav()">&#9776; Diets</button>
    </div>
</standard_links>
</html>