<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<standard_links th:fragment="sidebar">
    <div class="icon-bar">
        <a class="active" href="#"><i class="fa fa-home"></i></a>
        <a class="dair" href="/diets/dairy-free"><i class="fas fa-ice-cream"></i></a>
        <a class="glut" href="/diets/gluten-free"><i class="fas fa-bread-slice"></i></a>
        <a class="hp" href="/diets/high-protein"><i class="fas fa-drumstick-bite"></i></a>
        <a class="ket" href="/diets/keto"><i class="fas fa-egg"></i></a>
        <a class="pal" href="/diets/paleo"><i class="fas fa-apple-alt"></i></a>
        <a class="pesc" href="/diets/pescatarian"><i class="fas fa-fish"></i></a>
        <a class="medit" href="/diets/mediterranean"><i class="fas fa-oil-can"></i></a>
        <a class="vega" href="/diets/vegan"><i class="fas fa-seedling"></i></a>
        <a class="vegit" href="/diets/vegetarian"><i class="fas fa-carrot"></i></a>
    </div>
</standard_links>
</html>