<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>View all Ingredients using AJAX</title>
    <div th:replace="partials/head :: head"/>
<!--    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.22/b-1.6.5/r-2.2.6/sc-2.0.3/sl-1.3.1/datatables.min.css"/>
</head>

<body>
<table id="ingredients" class="display" style="width:100%">
    <thead>
    <th>ID</th>
    <th>Name</th>
    </thead>
    <tfoot>
    <th>ID</th>
    <th>Name</th>
    </tfoot>
</table>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<!--<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>-->
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.22/b-1.6.5/r-2.2.6/sc-2.0.3/sl-1.3.1/datatables.min.js"></script>
<!-- Include the JS file with the AJAX request -->
<script type="text/javascript" th:src="@{/js/ingredients.js}"></script>
</body>

</html>