<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title></title>
    <links th:include="partials/head :: head"></links>
</head>
<body>
<div th:replace="partials/navbar :: navbar"></div>
<!--<div th:replace="partials/header :: header"></div>-->

<div class="container">
    <form th:action="@{/posts/recipe}" method="post">

        <label for="prep">Enter Recipe Title: </label>
        <br>
        <input th:value="${post.title}" name="title" />
        <label for="prep">Enter Recipe preparation: </label>
        <br>
        <textarea th:value="${recipe.preparation}" name="preparation" id="prep" cols="72" rows="4"></textarea>
        <br>
        <label for="body">Enter your Recipe Notes: </label>
        <br>
        <textarea th:value="${recipe.notes}" name="notes" id="body" cols="72" rows="4"></textarea>
        <br>
        <form th:action="@{/recipe/diets/create}" method="post">
            <div class="card" th:each="diet : ${dietsList}">
                    <input type="checkbox" id="diet" name="diet" th:text="${diet.title}"
                           checked="checked">
                    <br>
            </div>
        <button type="submit">Create</button>
    </form>
    </form>
</div>


<footer th:replace="partials/footer :: footer"></footer>
<scripts th:replace="partials/scripts :: scripts"/>
</body>
</html>