body, html {
    height: 100%;
    width: 100%;

}

.bg {
    background-image: url("../img/coconut-art.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.foot {
    background-color: #E5B3C0;
    color: #360036;
}

a:link  {
    color: #360036;
}