body, html {
    height: 100%;
    width: 100%;

}

.bg1 {
    background-image: url("../img/login-art.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}