body, html {
    /*height: 100vh;*/
    width: 100%;
}

body {
    height: 100%;
    overflow: hidden;
}

.bg1 {
    background-image: url("../img/login-artMin.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.forbg {
    background-color: #26272b;
    opacity: .85;
    color: whitesmoke;
    border-radius: 15px;
}

.negmarg {
    margin-top: -10rem !important;
}
