.btn-outline-success {
    color: white;
    background-color: #E5B3C0;

}

a:hover {
    background-color: #E5B3C0;
}

#logout:hover {
    background-color: #E5B3C0;
}

.custbtn {
    border-style: none !important;
    color: black;
    background-color: transparent;
}

.custbtn:hover {
    background-color: #E5B3C0;
}

