body, html {
    height: 100vh;
    width: 100%;
}

body {
    overflow: hidden;
}

.bg3 {
    background-image: url("../img/mochaMin.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.forbg2 {
    background-color: darkolivegreen;
    /*opacity: .9;*/
    height: 100vh;
    color: whitesmoke;
}

.morewidth {
    width: 125%;
}

.borcol {
    border-color: saddlebrown;
}

.containpad {
    padding: 16px;
}

.cent {
    text-align: center;
}

nav a:hover {
    background-color: darkolivegreen;
}

#logout:hover {
    background-color: darkolivegreen;
}

/*
.footdf {
    background-color: saddlebrown;
    color: white;
    opacity: .9;
}*/
