body, html {
    height: 100%;
    width: 100%;

}

.bg3 {
    background-image: url("../img/mocha.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}