body, html {
    height: 100%;
    width: 100%;
}

.bg9 {
    background-image: url("../img/tomato.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footdf {
    background-color: var(--cp-vegit);
    color: black;
    opacity: .9;
}

.noop {
    opacity: 1;
}

.cardop {
    opacity: .8;
    width: 50%;
}

a:link  {
    color: #360036;
}

nav a:hover {
    background-color: var(--cp-vegit);
}

.contsiz {
    height: 100vh;
    width: 100vw;
}

p {
    color: black;
}

.cardbg {
    background-color: #252525;
    opacity: .8;

}

.halfsiz {
    width: 25%;
}