<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about us</title>
    <div th:replace="partials/head :: head"/>
    <link rel="stylesheet" th:href="@{/css/aboutUs.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.css">
</head>
<body>
<nav th:replace="partials/navbar :: navbar"/>
<section>
    <div class="container" style="text-align: center;">
        <div class="text-center" data-aos="fade">
            <h1>About Us</h1>
            <div class="row space-rows">
                <div class="col col-3">
                    <div class="card cards-shadown cards-hover" data-aos="flip-left" data-aos-duration="950">
                        <div
                                class="card-header" id="jess">
                            <!--                            <img th:src="@{/img/jesse.jpg}">-->
                        </div>
                        <div class="card-body">
                            <p class="card-text cardbody-sub-text" style="text-align: center;">Jesus Garza</p>
                            <a class="card-link h4" href="https://www.linkedin.com/in/jesusgarza25/"><i class="fa fa-linkedin-square" style="margin-left:23px;"></i></a>
                            <a class="card-link h4" href="https://github.com/JessRG"><i class="fa fa-github" style="margin-left:23px;"></i></a>
                            <a class="card-link h4" href="mailto:jesusgarza2511@gmail.com"><i class="fa fa-envelope" style="margin-left: 23px;text-align: center;"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col col-3">
                    <div class="card cards-shadown cards-hover" data-aos="flip-left" data-aos-duration="950">
                        <div class="card-header" id="zihan"></div>
                        <div class="card-body zihan">
                            <p class="card-text cardbody-sub-text">Zihan Zhao</p>
                            <a class="card-link h4" href="https://www.linkedin.com/in/zihanhannah/"><i class="fa fa-linkedin-square" style="margin-left:23px;"></i></a>
                            <a class="card-link h4" href="https://github.com/zihanhannah"><i class="fa fa-github" style="margin-left:23px;"></i></a>
                            <a class="card-link h4" href="mailto:zihanhannah@gmail.com"><i class="fa fa-envelope" style="margin-left: 23px;text-align: center;"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col col-3">
                    <div class="card cards-shadown cards-hover" data-aos="flip-left" data-aos-duration="950">
                        <div class="card-header" id="brian"></div>
                        <div class="card-body">
                            <!--<<<<<<< HEAD-->
                            <!--                            <p class="card-text cardbody-sub-text size-lg">Brian Barton</p>-->
                            <!--=======-->
                            <p class="card-text cardbody-sub-text">Brian Barton</p>
                            <a class="card-link h4" href="https://www.linkedin.com/in/brian-barton30"><i class="fa fa-linkedin-square" style="margin-left:23px;"></i></a>
                            <a class="card-link h4" href="https://github.com/BrianNBarton" ><i class="fa fa-github" style="margin-left:23px;"></i></a>
                            <a class="card-link h4" href="mailto:brian.n.barton@gmail.com"><i class="fa fa-envelope" style="margin-left: 23px;text-align: center;"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col col-3">
                    <div class="card cards-shadown cards-hover" data-aos="flip-left" data-aos-duration="950">
                        <div class="card-header" id="tommy"></div>
                        <div class="card-body">
                            <p class="card-text cardbody-sub-text">Tommy Cirilo-Thorpe</p>
                            <a class="card-link h4" href=" https://www.linkedin.com/in/tommy-cirilo/"><i class="fa fa-linkedin-square" style="margin-left:23px;"></i></a>
                            <a class="card-link h4" href="https://github.com/Tommy-Cirilo"><i class="fa fa-github" style="margin-left:23px;"></i></a>
                            <a class="card-link h4" href="mailto:Tommy.v.cirilo@gmail.com"><i class="fa fa-envelope" style="margin-left: 23px;text-align: center;"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<div th:replace="partials/scripts :: scripts"/>
<script type="text/javascript" th:src="@{/js/aboutUs.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.js"></script>
</body>
</html>