<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>welcome-page</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/index-home.css}">
</head>
<body>
<nav th:replace="partials/navbar :: navbar"/>
<section class="d-flex flex-column justify-content-center">
    <div class="d-inline-flex justify-content-center align-content-center justify-content-xl-center align-items-xl-end container" id="welcome-page">
        <div class="jumbotron">
            <h1>Have You Ever Wanted to Try A Diet, But Just Didn't Know Where to Start?</h1>
            <div id="button-div"><a class="btn btn-primary" role="button" href="/posts">Try It Now</a></div>
        </div>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

</body>
</html>
