<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:replace="partials/head :: head"/>
    <link rel="stylesheet" th:href="@{/css/index-home.css}">
</head>
<body class="bg">
<nav th:replace="partials/navbar :: navbar"></nav>
<main class="container-fluid d-flex contsiz">
    <h1 class="cfont">Have you ever wanted to try a diet, but just didn't know where to start?</h1>
    <section class="justify-content-end pill-nav justify-content-center">
        <a href="/diets/mediterranean" >Let's tryit!</a>
    </section>
</main>
<footer th:replace="partials/footer :: footer"></footer>
<scripts th:replace="partials/scripts :: scripts"></scripts>
</body>
</html>