<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dairy-Free</title>
    <link th:replace="partials/head :: head"/>
    <link rel="stylesheet" th:href="@{/css/dairy-free.css}">
</head>
<body class="bg2">
<nav th:replace="partials/navbar :: navbar"></nav>
<main class="container-fluid">
    <div class="d-flex justify-content-start">
        <div th:replace="partials/sidebar :: sidebar"></div>
        <div class="scroll">
            <div class="row">
                <!--    Beginning of post section-->
                <div class="container">
                    <!--        Beginning of card container-->
                    <div class="card text-center justify-content-center cardop col-12">
                        <div class="card-header">
                            <h3>Dairy-Free</h3>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">No more moo cows? No problem!</h3>
                            <p class="mainp">What is a dairy free diet? A dairy free diet is an eating pattern that
                                consists of not consuming any dairy products containing milk, milk proteins (whey/casein), and/or
                                milk sugar(lactose).</p>
                            <div>
                                <h3>Why Choose a Dairy-Free Diet?</h3>
                                <p class="mainp">Approximately 65% of the general population have a dairy allergen, and/or are lactose
                                    intolerant.
                                    These individuals have difficulty digesting lactose, and experience symptoms such as
                                    abdominal
                                    pain, bloating,
                                    nausea, and/or diarrhea if they consume lactose.</p>
                            </div>
                            <hr>
                        </div>
                    </div> <!-- End of Card container -->
                    <hr>
                    <!--                    Beginning of the diet post card-->
                    <div class="container">
                        <div class="d-flex flex-wrap noop" th:each="diet : ${diets}">
                            <div class="card mb-2 col-3" th:each="post : ${diet.posts}">
                                <div class="card-title"><h2 th:text="${post.title}"></h2></div>
                                <form th:action="@{'/posts/' + ${post.id}}" method="get">
                                    <button type="submit" class="btn btn-dark mr-1">View</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> <!-- end of post section -->
            </div>
        </div>
    </div>


</main>

<!--<footer th:include="partials/footer :: footer"></footer>-->
<script th:src="@{/js/sidebar.js}"></script>
<scripts th:replace="partials/scripts :: scripts"></scripts>
</body>
</html>