<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:replace="partials/head :: head"/>
    <link rel="stylesheet" th:href="@{/css/keto.css}">
</head>
<body class="bg5">
<nav th:replace="partials/navbar :: navbar"></nav>
<main class="container-fluid">
    <h1 class="justify-content-center">Keto</h1>
    <div class="container">
        <div class="card w-75 mb-3" th:each="diet : ${diets}">
            <div class="card-body">
                <!--                <div class="card-title"><h2 th:text="${diet.title}"></h2></div>-->
                <div class="d-flex">
                    <div class="card w-75 mb-3" th:each="post:${diet.posts}">
                        <div class="card-title"><h2 th:text="${post.title}"></h2></div>
                        <form th:action="@{'/posts/' + ${post.id}}" method="get">
                            <button type="submit" class="btn btn-primary mr-1">View</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="partials/footer :: footer"></footer>
<scripts th:replace="partials/scripts :: scripts"></scripts>
</body>
</html>