<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mediterranean</title>
    <link th:replace="partials/head :: head"/>
    <link rel="stylesheet" th:href="@{/css/mediterranean.css}">
<!--    <link rel="stylesheet" th:href="@{/css/sidebar.css}">-->
</head>
<body class="bg6">
<nav th:replace="partials/navbar :: navbar"></nav>
<main class="container-fluid">
    <div class="d-flex justify-content-start">
        <div th:replace="partials/sidebar :: sidebar"></div>
        <div class="scroll">
            <div class="row">
                <!--    Beginning of post section-->
                <div class="container">
                    <!--        Beginning of card container-->
                    <div class="card text-center justify-content-center cardop col-12">
                        <div class="card-header">
                            <h3>Mediterranean</h3>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Not Gonna Have a Heart Attack Here </h3>
                            <p class="mainp">What is a Mediterranean diet? A mediterranean diet is an eating pattern
                                that consists of primarily consuming high amounts of vegetables, fruits, whole grains, beans, nut and seeds,
                                 and olive oil. It's important to note that there are no restrictions, but rather quantity control of how
                                much each type of food is consumed.</p>
                            <div>
                                <h3>Why Choose a Mediterranean Diet?</h3>
                                <p class="mainp">One major benefit of the Mediterranean diet, is the major reduction of risk factors associated
                                    with cardiovascular disease. This diet is also recognized by the W.H.O as a healthy and sustainable dietary
                                    pattern.</p>
                            </div>
                            <hr>
                        </div>
                    </div> <!-- End of Card container -->
                    <hr>
                    <!--                    Beginning of the diet post card-->
                    <div class="container">
                        <div class="d-flex flex-wrap noop" th:each="diet : ${diets}">
                            <div class="card mb-2 col-3" th:each="post:${diet.posts}">
                                <div class="card-title"><h2 th:text="${post.title}"></h2></div>
                                <form th:action="@{'/posts/' + ${post.id}}" method="get">
                                    <button type="submit" class="btn btn-dark mr-1">View</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> <!-- end of post section -->
            </div>
        </div>
    </div>

</main>
<script th:src="@{/js/sidebar.js}"></script>
<scripts th:replace="partials/scripts :: scripts"></scripts>
</body>
</html>