<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Other</title>
    <link th:replace="partials/head :: head"/>
    <link rel="stylesheet" th:href="@{/css/other.css}">
</head>
<body class="bg">
<nav th:replace="partials/navbar :: navbar"></nav>
<main class="container-fluid">
    <div class="d-flex justify-content-start">
        <div th:replace="partials/sidebar :: sidebar"></div>
        <div class="scroll">
            <div class="row">
                <!--    Beginning of post section-->
                <div class="container">
                    <!--        Beginning of card container-->
                    <div class="card text-center justify-content-center cardop col-12">
                        <div class="card-header">
                            <h3>Other</h3>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">A True Foodie </h3>
                            <p class="mainp">There are tons of alternate diets that are not listed here that have other positive
                                effects. Some honorable mentions are unique diets based on one's blood type, raw food diet, south beach diet,
                                 and the famous medical 1200 calorie a day diet.
                                </p>
                            <div>
                                <h3>Why Choose a Different Diet than Listed?</h3>
                                <p class="mainp">All in all, each diet achieves different goals. It is recommended to research a diet that aligns
                                 with the goal in mind. Is the goal weight loss? Greater overall health? Or to gain alot of muscle mass?
                                     Lastly pick a diet, and try it!</p>
                            </div>
                            <hr>
                        </div>
                    </div> <!-- End of Card container -->
                    <hr>
                    <!--                    Beginning of the diet post card-->
                    <div class="container">
                        <div class="d-flex flex-wrap noop" th:each="diet : ${diets}">
                            <div class="card mb-2 col-3" th:each="post:${diet.posts}">
                                <div class="card-title"><h2 th:text="${post.title}"></h2></div>
                                <form th:action="@{'/posts/' + ${post.id}}" method="get">
                                    <button type="submit" class="btn btn-dark mr-1">View</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> <!-- end of post section -->
            </div>
        </div>
    </div>

</main>
<script th:src="@{/js/sidebar.js}"></script>
<scripts th:replace="partials/scripts :: scripts"></scripts>
</body>
</html>