<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vegan</title>
    <link th:replace="partials/head :: head"/>
    <link rel="stylesheet" th:href="@{/css/vegan.css}">
</head>
<body class="bg">
<nav th:replace="partials/navbar :: navbar"></nav>
<main class="container-fluid">
    <div class="d-flex justify-content-start">
        <div th:replace="partials/sidebar :: sidebar"></div>
        <div class="scroll">
            <div class="row">
                <!--    Beginning of post section-->
                <div class="container">
                    <!--        Beginning of card container-->
                    <div class="card text-center justify-content-center cardop col-12">
                        <div class="card-header">
                            <h3>Vegan</h3>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Oohhh Kale No! </h3>
                            <p class="mainp">What is a Vegan diet? A Vegan diet is an eating pattern
                                that does not include any meat, eggs, or dairy.</p>
                            <div>
                                <h3>Why Choose a Vegan Diet?</h3>
                                <p class="mainp">Many people choose this diet to combat animal exploitation and
                                    cruelty. Other great benefits that this diet offers is much slimmer waist lines,
                                    and much better sugar control to prevent and/or maintain diabetes.</p>
                            </div>
                            <hr>
                        </div>
                    </div> <!-- End of Card container -->
                    <hr>
                    <!--                    Beginning of the diet post card-->
                    <div class="container">
                        <div class="d-flex flex-wrap noop" th:each="diet : ${diets}">
                            <div class="card mb-2 col-3" th:each="post:${diet.posts}">
                                <div class="card-title"><h2 th:text="${post.title}"></h2></div>
                                <form th:action="@{'/posts/' + ${post.id}}" method="get">
                                    <button type="submit" class="btn btn-dark mr-1">View</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> <!-- end of post section -->
            </div>
        </div>
    </div>

</main>
<script th:src="@{/js/sidebar.js}"></script>
<scripts th:replace="partials/scripts :: scripts"></scripts>
</body>
</html>