<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:replace="partials/head :: head"/>
    <link rel="stylesheet" th:href="@{/css/vegetarian.css}">
</head>
<body class="bg9">
<nav th:replace="partials/navbar :: navbar"></nav>
<main class="container-fluid contsiz">
    <h1 class="justify-content-center">TryIt Diet</h1>
    <div class="card cardbg halfsiz">
        <div class="card-header">
            <p>Do you like helping your brain to feel more energized?</p>
        </div>
        <div class="card-body">
            <p>Then feast your eyes on the pescatarian diet! The pescatarian diet, is a diet that consists of only </p>
        </div>
    </div>
    <div th:replace="partials/sidebar :: sidebar"></div>
</main>
<footer th:replace="partials/footer :: footer"></footer>
<scripts th:replace="partials/scripts :: scripts"></scripts>
</body>
</html>